body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: white;
}

.mission {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: flex;
  }

.objective {
  border: ridge black 1px;
  width: 100px;
  background-color: #221;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.character {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: solid red 1px;
  width: 90%;
  height: 1000px;
  display: flex;
  z-index: 100;
}

.character-stats {
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
  background-color: rgba(147, 7, 7, 0.76);
  width: 200px;
  height: 100px;
  order: 2;
}

.kate-winslet {
  background-image: url('https://downloads.2kgames.com/xcom2/blog_images/retaliation.jpg');
  background-size: cover;
}

.character-hp {
  border-top: solid black 3px;
  margin-top: 10px;
}

.campaign-link {
  border: solid black 5px;
}

.campaign-list {
  background-color: rgba(255, 255, 255, 0.62);
  color: black;
  order: 1;
}

.objective-complete {
  /*TODO: fix image sizing */
  background-image: url('http://4.bp.blogspot.com/-ohqlppNJIHo/UBGGVo9rTcI/AAAAAAAAAGA/ANMtDcu5dDw/s1600/comp.jpg');
  background-size: contain;
  border: ridge black 1px;
  width: 100px;
  background-color: #221;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.campaign-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  /*border: solid red 1px;*/
  positon: relative;
}

.boss-container {
  animation: boss-container-spin infinite 10s linear;
  background-color: red;
  height: 60px;
  width: 100px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

@keyframes boss-container-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
