body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  /*background-image: url('https://media1.britannica.com/eb-media/53/135153-120-AD5091DA.jpg');
  background-size: cover;*/
  color: white;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  /*border: solid white 2px;*/
  height: 1000px;
  display: flex;
  justify-content: center;

}

.list {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.62);
  color: black;
  order: 1;
  width: 400px;

}

.mission {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: flex;
  }

.objective {
  border: ridge black 1px;
  width: 100px;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.objective-complete {
  /*TODO: fix image sizing */
  background-image: url('http://4.bp.blogspot.com/-ohqlppNJIHo/UBGGVo9rTcI/AAAAAAAAAGA/ANMtDcu5dDw/s1600/comp.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  border: ridge black 1px;
  width: 100px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.character {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*border: ridge white 5px;*/
  width: 90%;
  height: 1000px;
  display: flex;
  z-index: 100;
}

.character-stats {
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
  background-color: rgba(9, 35, 101, 0.65);
  width: 200px;
  height: 100px;
  order: 2;
}

.character-link {
  margin: auto;
  padding: 5px;
  width: 200px;
  height: 60px;
  border: solid white 2px;
}

.kate-winslet {
  background-image: url('https://downloads.2kgames.com/xcom2/blog_images/retaliation.jpg');
  background-size: cover;
}

.macho-man-randy-savage {
  background-image: url('http://ll-media.tmz.com/2015/01/12/0112-macho-man-randy-savage-wwe-1200x630.jpg');
  background-size: cover;
}

.character-hp {
  border-top: solid black 3px;
  margin-top: 10px;
}

.campaign-link {
  border: solid black 5px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.link {
  border: solid black 5px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin-top: 10px;
}

/*.campaign-list {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.62);
  color: black;
  order: 1;
  width: 400px;
}*/


.campaign-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  /*border: solid red 1px;*/
  positon: relative;
}

.boss-container {
  animation: boss-container-spin infinite 0s linear;
  background-image: url('http://ih1.redbubble.net/image.207507018.0948/fc,220x200,black.u1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

@keyframes boss-container-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
